### Exercise 1
Create a file called <b>exercise1.txt</b> and write following lines:

    Twinkle, twinkle, little star,
    How I wonder what you are.
    Up above the world so high,
    Like a diamond in the sky.
    
    
Don't forget to close the file.

In [1]:
with open("exercise1.txt", "w+") as fptr  :
  fptr.write("Twinkle, twinkle, little star,\n")
  fptr.write("How I wonder what you are.\n")
  fptr.write("Up above the world so high,\n")
  fptr.write("Like a diamond in the sky.\n")

### Exercise 2
Append following lines to a file called <b>exercise1.txt</b>:

    Twinkle, twinkle, little star,
    How I wonder what you are.
    
Don't forget to close the file.

In [2]:
with open("exercise1.txt", "a+") as fptr  :
      fptr.write("Twinkle, twinkle, little star, \n")
      fptr.write("How I wonder what you are.\n")

### Exercise 3
Read a file, <b>exercise1.txt</b> and print the content of the file using a loop.
    
Don't forget to close the file.

In [3]:
with open("exercise1.txt", "r") as fptr   :
      line = fptr.readline()
      while line : 
            print(line, end='')
            line = fptr.readline()

Twinkle, twinkle, little star,
How I wonder what you are.
Up above the world so high,
Like a diamond in the sky.
Twinkle, twinkle, little star,
How I wonder what you are.

### Exercise 4
Read line number 4 from the file, <b>exercise1.txt</b>.

In [7]:
with open("exercise1.txt", "r") as fptr   :
      line = fptr.readlines()
      print(line [3])

Like a diamond in the sky.

### Exercise 5
Write a program that asks the user for a number and a file name, then prints out the number from 1 to that number, one one each line to a file named using user's input.
Then, read that file and print out its content.

In [10]:
max_no = int(input("Enter a number: "))
file_name = input("Enter a file name: ")

with open(file_name, 'w') as fptr:
    for i in range(1, max_no+1) :
        fptr.write(str(i)+'\n')
        
        
with open(file_name, 'r') as fptr :
    print(fptr.read())

Enter a number: 3
Enter a file name: Akrem_Example
1
2
3

### Exercise 6
Merge a file from exercise 5 and <b>exercise1.txt</b> to a file called <b>merged.txt</b>. Then, prin out the content of <b>merged.txt</b> before closing the file.

In [11]:
with open(file_name, 'r') as fptr1:
    with open('exercise1.txt', 'r') as fptr2:
        with open('merged.txt', 'w+') as out_fptr :
            data1 = fptr1.read()
            data2 = fptr2.read()
            out_fptr.write(data1)
            out_fptr.write(data2)
            
            out_fptr.seek(0)
            print(out_fptr.read())

1
2
3
Twinkle, twinkle, little star,
How I wonder what you are.
Up above the world so high,
Like a diamond in the sky.
Twinkle, twinkle, little star,
How I wonder what you are.