### Module 4 Exercise

1. How many occurences of "row" is in "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."

In [9]:
song = "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."
song.count("row")

4

2. Ask a user for a name, color, and an animal.  <br>
Then using string format method per each line, show following:<br>
<b><i>name</i></b> had a little <b><i>animal</i></b>. <br>
It was <b><i>color</i></b> as snow. <br>
And everywhere that <b><i>name</i></b> went, the <b><i>animal</i></b> was sure to go.

In [37]:
print("Enter your name: ")
first_name = input()
print("Enter your color: ")
Color = input()
print("Enter your animal: ")
Animal = input()

print(first_name, "had a little" , Animal, ".")
print("It was", Color, "as snow.")
print("And everywhere that", first_name, "went, the",Animal, "was sure to go.")

Enter your name:
Akrem
Enter your color:
white
Enter your animal:
cat
Akrem had a little cat .
It was white as snow.
And everywhere that Akrem went, the cat was sure to go.

3. Print 3.14159 in a scientific number notation

In [49]:
print(f"{3.14159:e}")

TypeError: ignored

4. Print 3.1559 in 3 decimal places

In [50]:
print(f"{3.1559:e}")

TypeError: ignored

5. Print 1589.92341 in a scientific number notation to the power of 3

6. Convert 39 to a binary number using floor division and mod operators. Then, compare your answer using bin() and int() functions.

7. Convert 39 to an octal number using floor division and mod operators. Then, compare your answer using oct() and int() functions.

8. Convert 39 to a hexadecimal number using floor division and mod operators. Then, compare your answer using hex() and int() functions.

9. Ask a user for an amount and a tax rate in percentage. Then, display the amount, rate in percentage, calculated tax amount, and the total (amount + tax amount) in one <b>nice</b> formmated print statement.