1. Print cookies and milk are a great dessert.

In [7]:
print("cookies and milk are a great dessert.")

cookies and milk are a great dessert.

2. Print out your favorite color and above the code, comment what you are doing.

In [16]:
# Write to get your favorite color
print("Blue")

Blue

3. Print out your favority color again and add an in-line comment.

In [17]:
print("Blue") #Write your favorite color

Blue

4. Print the sumation of numbers 1 to 10

In [6]:
print(1+2+3+4+5+6+7+8+9+10)

55

5. Print what 6 to the 7th power is.

In [20]:
print(6**7)

279936

6. Print the remainder of 100 divided by 11.

7. What is the result of "Python" + "1"

In [18]:
"Python"+"1"

'Python1'

8. Print out 100 divided by 5

In [21]:
print(100/5)

20.0

9. What is the different between 10/4 and 10//4?  Print out the result

In [25]:
numb1=10/4
numb2=10//4
print(numb1)
print(numb2)
numb1-numb2

2.5
2

0.5

10. Create a variable named foo that stores a string value.

In [26]:
foo = "Akrem"

11. Print foo variable

In [27]:
print(foo)

Akrem

12. Create a variable called height and store your height value there.
Print a sentence describing your height and use the variable in the sentence as well.

In [15]:
height = "6'1\""
print("I am", height, "tall.")

I am 6'1" tall.

13. Concate two strings together using variables and print out the result

In [30]:
"Akrem"+"Akrem"

'AkremAkrem'

14. Use the two different quotes in a string and print out the sentence

In [34]:
print('"My name is Akrem."')

"My name is Akrem."

15. Print out Hello World! 7 times each on a new line using only one line of code.

In [44]:
print("Hello World!"*7)

Hello World!Hello World!Hello World!Hello World!Hello World!Hello World!Hello World!

16. What is the result of "apple" > "Apple"

17. Print out if 25 multiplied by 54 is bigger than 33 multipled by 33

In [46]:
print("(25*54)>(33*33)")

(25*54)>(33*33)

18. What is the result of of 123 == “123”?

19. Ask a user for width and length of a rectangle. Then compute its area and perimeter.

20. Ask a user for two whole numbers. Then compute their sum and difference.