### Exercise 1. 
Create a dictionary named pairs with key value pairs of:
    - 'hello' and 'fire', 
    - 3 and 'seven', 
    - 'strong' and 45. 

Then, print out the dictionary.

In [1]:
pairs = {"hello": "fire",3 : "seven", "strong" : 45}
print(pairs)

{'hello': 'fire', 3: 'seven', 'strong': 45}

### Exercise 2. 
Add 'welcome' and 56 pair into <b><i>pairs</i></b> dictionary from exercise 1. Then, print out the dictionary.

In [2]:
pairs["welcome"] = 56
print(pairs)

{'hello': 'fire', 3: 'seven', 'strong': 45, 'welcome': 56}

### Exercise 3. 
Delete one item from <b><i>pairs</i></b> dictionary. Then, print deleted item and the dictionary.

In [3]:
item = pairs.popitem()
print(item)
print(pairs)

('welcome', 56)
{'hello': 'fire', 3: 'seven', 'strong': 45}

### Exercise 4. 
Print the value of an item where key is 3 in <b><i>pairs</i></b> dicitonary

In [4]:
item = pairs[3]
print(item)
print(pairs)

seven
{'hello': 'fire', 3: 'seven', 'strong': 45}

### Exercise 5. 
Try to find out if the key called 'hello' exist in <b><i>pairs</i></b> dictionary. Print 'key is found' message if the key exists otherwise print 'key is not there'.

In [5]:
if "hello" in pairs :
  print("Key is found")
else :
    print("Key is not there")

Key is found

### Exercise 6. 
Create a Test Scores program that gets the name of students and test score from a user. Then, generate a list of students who passed and a list of students who failed where passing test score is 60 or above.

In [8]:
passed = []
failed = []
students = {}

stop = False
while not stop :
        student = input("Enter student's name: ")
        score = input("Enter student's score: ")
        students[student] = float(score)
        stop = input("Do you want to continue?(y/n)") == 'n'



for key,value in students.items() :
    if value >= 60 :
        passed.append(key)
    else :
        failed.append(key)
        
print(students)   
print(f"\nPassed Students are {passed}")
print(f"\nFailed Students are {failed}")

Enter student's name: Akrem
Enter student's score: 75
Do you want to continue?(y/n)n
{'Akrem': 75.0}

Passed Students are ['Akrem']

Failed Students are []

### Exercise 7. 

Create a Word Counter program that gets a string of text from a user and then counts the number of times a word occrs in the string. 

The output should look something like this:

    The Word Counter Program
    
    Enter a text string: 
    Humpty Dumpty sat on a wall, Humpty Dumpty had a great fall. All the king’s horses and all the king’s men couldn’t put Humpty together again.

    a : 2
    again : 1
    all : 2
    and : 1
    couldn’t : 1
    dumpty : 2
    fall : 1
    great : 1
    had : 1
    horses : 1
    humpty : 3
    king’s : 2
    men : 1
    on : 1
    put : 1
    sat : 1
    the : 2
    together : 1
    wall : 1

    There were total 26 words in the text string